/* Styling the form to make it look like a normal sign-in page */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #03363D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin: 10px 0;
}

form label {
    font-size: 1em;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20em;
    box-sizing: border-box;
}
form input[type="checkbox"] {
    width: initial;
}



form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #174D4D;
    border: none;
    border-radius: 5px;
    color: #F8F9F9;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #03363D;
}
